.testimonio-container {
  display: flex;
  flex-direction: row;

  text-align: center;
}

.testimonio-column {

  padding: 10px;
  flex: 50%;
}

/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 500px) {
  .testimonio-container {
    flex-direction: column;
  }
}