.testimonio__container--size {
  display: flex;
  flex-direction: row;

  text-align: center;
}

.testimonio__column--size {

  padding: 10px;
  flex: 50%;
}

@media (max-width: 500px) {
  .testimonio__container--size {
    flex-direction: column;
  }
}